img.hack01 {
	
	display: block;
	width: 80%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
}

img.hack02{

	border-radius: 8px;
	width: 35%;
	float: right;
	margin-right: 450;
	margin-top: 20px;


}


body {
  background-color: #000000;
}

h1 {
  color: navy;
  margin-left: 20px;
}

hr {
	border: 0;
	border-top: 1px solid #DC143C;
}


p.hack-text{
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font-size: 30px;
  text-shadow: 2px 4px 5px #eee;
  margin-left: 100;
  color: red;
  
}


p.hack-text2{
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font-size: 30px;
  text-shadow: 2px 4px 5px #eee;
  #margin-left: 600;
  color: red;
  text-align: center;
  
}

label{
	color: red;
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	font-size: 20px;
	text-shadow: 2px 4px 5px #eee;
	text-align: center;
	display: inline-block;
	
}

input[type=text], select {
  width: 20%;
  padding: 10px 20px;
  #margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  width: 20vw;
  margin-left: 40vw;
}


input[type=password], select {
  width: 20%;
  padding: 10px 20px;
  #margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  width: 20vw;
  margin-left: 40vw;
}

input[type=submit] {
  width: 10%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: red;
  
}

div.restricted{
	text-align: center;

}

.audio-container{
	display: flex;
	margin: 250px;
	margin-left: 550;


}


ul {
margin: 0;
padding: 0;
list-style: none;
width: 150px;
}

ul li {
position: relative;
text-shadow: 2px 4px 5px #eee;
top: 80;
left: 15;
font-size: 20px;
}

li ul {
position: absolute;
left: 149px;
top: 0;
display: none;
}

a:link{
	color red;
}

a:visited{
	color: red;
}
